# Channel Delivery Microservice Configuration
PORT=6000

# Telegram Bot API Token for Campaign dispatching
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"

# SMTP Authentication configuration for Email dispatching
EMAIL_USER="your_gmail_username@gmail.com"
EMAIL_PASS="your_gmail_app_password"
